   <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">My Dashboard</li>
      </ol>
     <h1>All Post</h1>


     <table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">TITLE</th>
      <th scope="col">CATEGORY</th>
      <th scope="col">STATUS</th>
      <th scope="col">ALLOWCOMMENTS</th>
      <th scope='col'>IMAGES</th>
      <th scope="col">DATE</th>
      <th scope="col">VIEW POST</th>
      <th scope="col">EDIT</th>
      <th scope="col">DELETE</th>
    </tr>
  </thead>
  <tbody>
    


    <tr>
      <th scope="row"></th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><img class="img-responsive" height="50" width="80" src=""></td>
      <td></td>  
      <td><a href="">View</a></td>
  </tbody>
</table>

     
    </div>