   <div class="container-fluid ">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">My Dashboard</li>
      </ol>
     <h1>Category</h1>


	<div class="row">
		
<div class="col-md-6"> 


 <form action="/admin/category/create" method="post" >
  <div class="form-group">
    <label for="exampleInputEmail1">Title</label>
    <input type="title" name="catTitle" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" value="">
    
  </div> 

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
















	</div>
 


	
<div class="col-md-6">
   	
     <table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">TITLE</th> 
      <th scope="col">EDIT</th>
      <th scope="col">DELETE</th> 
    </tr>
  </thead>
  <tbody>
    

    <tr>
      <th scope="row">fd</th>
      <td>1</td>      
      <td>
 		<a href="" class="btn btn-info">Edit</a>
      </td>
     
        
      <td>
          <input type="submit"  value="Delete" class="btn btn-danger">
      </td>
    </tr>
 






  </tbody>
</table>

   </div>
</div>


    </div>




   <!-- show category  -->



   