

        <!-- Blog Entries Column -->
 

          <h1 class="my-4">Comments
            <small></small>
          </h1>       




  <table class="table">
  <thead>
    <tr>
   
      <th scope="col">ID</th>
      <th scope="col">OWNER</th>
      <th scope="col">COMMENT</th>
      <th scope="col">STATUS</th>
      <th scope="col">DATE</th>
      <th scope="col">DELETE</th>
    </tr>
  </thead>
  <tbody>
 


   <tr>
      <th scope="row">{</th>
      <td>{}</td>
      <td>{</td>
      <td><input  type="checkbox"  name="approveComment"></td>
      <td></td>
    
     
        
        <td>          
          <button type="submit" class="btn btn-danger">DELETE</button>

        </td>






    </tr>   

  </tbody>
</table>